@font-face {
  font-family: 'fanctrlplusplus';
  src: url('/plugins/fanctrlplusplus/fonts/fanctrlplus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-fanctrlplusplus {
  font-family: 'fanctrlplusplus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanctrlplusplus:before {
  content: "\e900";
}
